@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a, button {
  cursor: pointer;
}

.btn {
  padding: $padding $padding*2;
  color: #FFF;
  background-color: $green-bg;
  border: none;
  border-radius: $radius;

  cursor: pointer;
}
